.published-task-list {
  .taroify-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #fff;
  }

  .taroify-pull-refresh {
    padding-top: 84px;
  }
}
