.score-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px;
  margin: 16px;
  border-radius: 8px;
  background-color: $theme-color;

  .label {
    color: #ffffff;
    font-size: 40px;
  }

  .value {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
  }
}
