.main-page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f5f5f5;

  .e-banner {
    width: 100%;
    background: linear-gradient(to right, $theme-color 30%, white);

    .e-banner-content {
      padding: 20px 32px;
      display: flex;
      flex-direction: row;

      .e-main-title {
        font-size: 36px;
        font-weight: bold;
        color: #333;
      }

      .e-sub-title {
        padding-left: 20px;
        font-size: 26px;
        color: #333;
        margin-top: 8px;
      }
    }
  }

  &__main {
    flex: 1;
    overflow-y: auto;
  }

  &__footer {
    background: #fff;
  }
}
