.category-list {
  overflow: hidden;
  padding: 10px;
  background-color: white;

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .category-item {
    box-sizing: border-box;

    width: 49%;
    margin: 10px 0;

    background-color: white;
    padding: 20px;
    border-radius: 8px;

    text-align: center;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid $color-b;

    .title {
      font-size: $fs-2;
      color: $color-f-2;
    }
    .sub-title {
      font-size: $fs-3;
      color: $color-f-3;
    }
  }
}
