.category-list {
  overflow: hidden;
  padding: 10px;
  background-color: white;

  .category-row {
    width: 100%;
    display: flex;
    gap: 0 10px;
    justify-content: space-between;
    // margin-bottom: 10px;
    margin: 10px;

    .category {
      flex: 1; /* 平均分配空间 */
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      border: 1px solid $color-b;
    }

    .category.selected {
      border-color: $color-f-checked; /* 选中卡片的边框 */
      background-color: $color-b-checked; /* 选中时的背景色 */
    }

    .category-name {
      font-size: $fs-3;
      color: #333;
    }

    .category-name.selected {
      color: $color-f-checked; /* 选中卡片的边框 */
    }
  }
}
